Checks: >
clang-analyzer-*
performance-*
modernize-*
readability-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: modernize-use-nullptr.RewriteMacros
    value: true

